---
# tasks file for debian_omv
# - name: Add openmediavault apt repository source
#   ansible.builtin.deb822_repository:
#     name: openmediavault
#     types: [deb]
#     uris: https://packages.openmediavault.org/public
#     suites: "{{ omv_version }}"
#     components: main
#     signed_by: https://packages.openmediavault.org/public/archive.key
#     architectures: "{{ omv_arch }}"
#     enabled: true
- name: Install gpg
  ansible.builtin.apt:
    name: gnupg
    state: present
    update_cache: true

- name: Add OMV repository to apt sources list
  ansible.builtin.deb822_repository:
    name: openmediavault
    types: [deb]
    components: main
    suites: "{{ omv_version }}"
    architectures: "{{ omv_arch }}"
    signed_by: https://packages.openmediavault.org/public/archive.key
    state: present
    uris: https://packages.openmediavault.org/public

- name: Update apt cache after adding OMV repo
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600

- name: Install openmediavault package
  ansible.builtin.apt:
    name: openmediavault
    install_recommends: false
    allow_downgrade: true
    state: present
    update_cache: true

# this command is needed to initialize the system
- name: Configure OMV DB
  ansible.builtin.command: "/usr/sbin/omv-confdbadm populate"
  when: omv_first_install
  changed_when: true

- name: After install, make sure we can still ssh to the machine
  ansible.builtin.user:
    name: "{{ item }}"
    group: _ssh
  with_items:
    - ansible
    - awaal

# sudo wget -O - https://github.com/OpenMediaVault-Plugin-Developers/installScript/raw/master/install | sudo bash
